
body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}


h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/*colours*/

.coloured_section {
    background-color: #ff4c68;
    color: white;
}

.colour_none{
    background-color: white;
}

/*headings*/

.big_heading {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
    color:white;
    text-align: left;
}

.section-head {
    font-size: 3.5rem;
    line-height: 1.5;
}


.container-fluid{
    padding: 3% 15%;

}

.fa-brands{
    margin-right: 10px;
}

/*nav bar*/

.navbar {
    padding-bottom: 4.5rem;
    
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem ;
    font-family: "Montserrat";
} 

/*buttons*/
.download-button{
    margin: 5% 3% 5% 0;
}

/*titleimage*/
.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    left: 56%;
}


#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.features_head{
    font-size: 1.5rem;
}

.feature-box {
    padding: 5% 2.5%;
}

.fa-solid {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fa-solid:hover {
    color: #ff4c68;
}

/*testimonials*/

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    color: white;
}

.carousel-wrapper {
    margin:20px;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

#press{
    background-color: #ef8172;
    padding: 3%; 
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*pricing*/



#pricing {
    padding: 100px;

}

.pricing_sec {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-wrapper {
    padding: 3% 2%;
}

.btn-wrapper{
    display:block;
    width: 100%;
}

.card_head{
    font-size: 1.5rem;
}

/*Call to Action*/
.cta_footer {
    padding: 7% 15%;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: larger;
}

.cta_footer h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
}

#footer {
    padding: 3% 15%;
    background-color: white;
}

.f_icons {
    margin: 20px 10px;
}